---
import { getUrlOfTheComponent } from '@/utils/functions';
const fileAnchor = getUrlOfTheComponent({ theURL: import.meta.url });
const containerClassName = `binding-number-container-and-text`
---

<section class=`am-section ${containerClassName}`>
  <a class='title-of-section' href={fileAnchor} target='_blank'>#1</a>
</section>

<script>
  import { $ } from '@/utils/functions';
  import { Pane } from 'tweakpane';
  const container = $('.binding-number-container-and-text') as HTMLElement;
  const PARAMS = {
    Number: 0.5,
    Text: 'Hello'
  };
  const pane = new Pane({ container });
  pane.element.classList.add('my-pane');
  pane.addBinding(PARAMS, 'Number');
  pane.addBinding(PARAMS, 'Text');
</script>

<style>
  .binding-number-container-and-text {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-block: 0.1vmax solid #fffa;

    .my-pane {
      width: fit-content;
    }
  }
</style>
