---
import { getUrlOfTheComponent } from '@/utils/functions';
const fileAnchor = getUrlOfTheComponent({ theURL: import.meta.url });
const containerClassName = `binding-formatter`;
---

<section class=`am-section ${containerClassName}`>
  <a class='title-of-section' href={`https://github.com/20essentials/project-1168/blob/main/src/components/BindingFormatter.astro`} target='_blank'>#5</a>
</section>

<script>
  import { $ } from '@/utils/functions';
  import { Pane } from 'tweakpane';
  const container = $('.binding-formatter') as HTMLElement;
  const PARAMS = {
    peso: 0,
    ProjectNumber: 1
  };
  const pane = new Pane({ container });
  pane.element.classList.add('my-pane');
  pane.addBinding(PARAMS, 'peso', {
    format: v => v.toFixed(6)
  });
  pane.addBinding(PARAMS, 'ProjectNumber', {
    format: v => v.toString().padStart(6, '0')
  });
</script>
