---
import { getUrlOfTheComponent } from '@/utils/functions';
const fileAnchor = getUrlOfTheComponent({ theURL: import.meta.url });
const containerClassName = `container-binding-color`;
---

<section class=`am-section ${containerClassName}`>
  <a class='title-of-section' href={fileAnchor} target='_blank'>#6</a>
</section>

<script>
  import { $ } from '@/utils/functions';
  import { Pane } from 'tweakpane';
  const container = $('.container-binding-color') as HTMLElement;
  const PARAMS = {
    rgb: { r: 255, g: 0, b: 55 },
    rgba: { r: 0, g: 255, b: 214, a: 0.5 },
    hex: '#0f0',
    pickerToggle: '#00f',
    pickerInline: '#f0f',
  };
  const pane = new Pane({ container });
  pane.element.classList.add('my-pane');
  pane.addBinding(PARAMS, 'rgb');
  pane.addBinding(PARAMS, 'rgba');
  pane.addBinding(PARAMS, 'hex');
  pane.addBinding(PARAMS, 'pickerToggle', {
    picker: 'inline'
  });
  pane.addBinding(PARAMS, 'pickerInline', {
    picker: 'inline',
    expanded: true,
  });
</script>
