---
import { getUrlOfTheComponent } from '@/utils/functions';
const fileAnchor = getUrlOfTheComponent({ theURL: import.meta.url });
const containerClassName = `binding-number-list`;
---

<section class=`am-section ${containerClassName}`>
  <a class='title-of-section' href={`https://github.com/20essentials/project-1168/blob/main/src/components/BindingNumberAndStringList.astro`} target='_blank'>#4</a>
</section>

<script>
  import { $ } from '@/utils/functions';
  import { Pane } from 'tweakpane';
  const container = $('.binding-number-list') as HTMLElement;
  const PARAMS = {
    quality: 0,
    theme: 'dark-theme.json'
  };
  const pane = new Pane({ container });
  pane.element.classList.add('my-pane');
  pane.addBinding(PARAMS, 'quality', {
    options: {
      low: 0,
      medium: 50,
      high: 100
    }
  });
  pane.addBinding(PARAMS, 'theme', {
    options:  {
      default: 'dark-theme.json',
      dark: 'dark-theme.json',
      light: 'light-theme.json',
    }
  })
</script>
